.grid-component{
    flex:1;
    height:90%;
    margin: 1rem;
    border-radius: 23px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: rgba(169, 169, 169, .5);
    
}

img{
    width: 12vw;
}

.best-map{
    margin: 5%;
}

.body-img{
    width: 6vw;
    margin: 5%;
}

.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 100vh;
}

.char-img{
    width: 150%;
}